<!DOCTYPE html>
<html>
  <head>
    <title>Marktile</title>
  </head>
  <body>
    <h1>Marktile</h1>
    <div id="auth">
      <div id="login" v-if="!oauth.access_token"><a id="loginBtn" v-on="click: login" href="javascript:void(0)">Login</a></div>
      <div id="user-info" v-if="oauth.access_token"><a id="username" href="#">{{ user.display_name }}</a><a id="logout" href="javascript:void(0)" v-on="click: logout">Logut</a></div>
    </div>
    <div id="marks">
      <ul>
        <li v-repeat="files"><a href="javascript:void(0)" v-on="click: open(page_id)">{{name}}</a></li>
      </ul>
      <div v-text="content" class="content"></div>
    </div>
    <script src="public/scripts/index.js"></script>
  </body>
</html>