doctype html
html
  head
    title Marktile
  body
    h1 Marktile
    #auth
      #login(v-if="!oauth.access_token")
        a#loginBtn(v-on="click: login",href="javascript:void(0)") Login
      #user-info(v-if="oauth.access_token")
        a#username(href="#") {{ user.display_name }}
        a#logout(href="javascript:void(0)",v-on="click: logout") Logut
    #marks
      ul
        li(v-repeat="files")
          a(href="javascript:void(0)",v-on="click: open(page_id)") {{name}}
      .content(v-text="content")
    script(src="public/scripts/index.js")
