doctype html
html
  head
    title Marktile
    link(rel="stylesheet",href="public/css/index.css")
  body
    header
      a(href="/").logo Marktile
      #auth
        #login(v-if="!oauth.access_token")
          ul.list
            li
              a#loginBtn(v-on="click: login",href="javascript:void(0)") Login
        #user-info(v-if="oauth.access_token")
          ul.list
            li 
              a#username(href="#") {{ user.display_name }}
            li 
              a#logout(href="javascript:void(0)",v-on="click: logout") Logut
              
    .container
      #marks(v-if="oauth.access_token")
        .file
          p FILES
          p(v-if="!files") 加载中...
          ul
            li(v-repeat="files")
              a(href="javascript:void(0)",v-on="click: open(page_id)") {{name}}
        .editor
          .tool-bar
            ul
              li
                a(href="#",v-on="click: save") Save
            .title
              input#title(type="text",v-model="title",placeholder="Title",autocomplete="off")
          textarea(v-model="content",spellcheck="false")
        .content(v-html="content | marked")
    footer Copyright 2015 Randy
    script(src="public/scripts/index.js")
